.signup{

    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 30px;
    height: 50%;
    width: 40%;
    animation: borderColor 2s ease-in-out alternate-reverse 0s infinite ;
    margin: 20px;
    justify-content: space-between;
 
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .signup-title{
    margin-bottom: 30px;
    }
    
}

@keyframes borderColor{
    from{
        border:1px solid #1e8585 ;
    }
    to{
        border:1px solid #df3fa9 ;
        
    }

   
}