.mySlide{
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 60vh;
}
.text{
width: 100%;
padding: 20px;

}

.numebrtext{

    margin-left: 50px;
    padding: 20px;

}
.image{
    width: 60%;
    height: 80%;
   
   
    
}