.collectionOverview{
    display: flex;
    flex-direction: column;
&.title{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;

}
&.list{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
}