.shop-icon{

    display: flex;
    flex-direction:column ;
    justify-content: center;

    .number{
        position: absolute;
        top: 25px;
        right: 18px;
        color:#c51d1d
    }
}